<div class="col-md-7 text-center" id="main-block">
  <div id="current-weather" class="d-inline-flex flex-row mb-md-2">
    <span id="current-weather-temp">{{weatherData?.main.temp | number:'1.0-0'}}&deg;</span>
    <div id="current-weather-description">
      <img src="assets/ico/weather-conditions/{{weatherData?.weather[0].icon}}.svg" alt="Иконка погоды"
        id="current-weather-conditions-ico" class="d-block">
      <span id="current-weather-condition" class="text-truncate" [tooltip]="weatherData?.weather[0].description">
        {{weatherData?.weather[0].description}}
      </span>
    </div>
  </div>
  <div id="forecast-day" class="mb-3 mb-md-0">
    <div *ngFor="let forecastHour of forecastDay" class="forecast-day-hours">
      <span>{{forecastHour.dt*1000 | date:'HH:mm':timezoneOffset:'ru'}}</span>
      <img src="assets/ico/weather-conditions/{{forecastHour.weather[0].icon}}.svg" alt="Иконка погоды"
        class="d-block forecast-day-hours-img">
      <span>{{forecastHour.main.temp | number:'1.0-0'}}&deg;</span>
    </div>
  </div>
</div>
<div class="col-md-5 d-flex flex-column" id="additional-block">
  <button type="button" class="btn btn-custom btn-block d-md-none mb-3 rounded-pill" (click)="isCollapsed=!isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="wrapper-param">
    <div [@expandCollapseAnimation]="isCollapsed ? 'collapse' : 'expand'">
      <i class="fas fa-chevron-down"></i>
    </div>
  </button>
  <div id="wrapper-param" class="d-md-block" [collapse]="isCollapsed" [isAnimated]="true">
    <div id="wind">
      <img src="assets/ico/parameters/wind.svg" alt="Иконка ветра" class="size-ico">
      <span>{{weatherData?.wind.speed}} м/с 
        <ng-container *ngIf="weatherData?.wind.deg">
          , {{weatherData.wind.deg | weatherParams:'wind'}}
        </ng-container>
      </span>
    </div>
    <div id="humidity">
      <img src="assets/ico/parameters/humidity.svg" alt="Иконка гигрометра" class="size-ico mr-2">
      <span>{{weatherData?.main.humidity}}%</span>
    </div>
    <div id="pressure">
      <img src="assets/ico/parameters/pressure.svg" alt="Иконка барометра" class="size-ico">
      <span>{{weatherData?.main.pressure | weatherParams:'pressure'}} мм.рт.ст.</span>
    </div>
    <div id="sunrise">
      <img src="assets/ico/parameters/sunrise.svg" alt="Иконка восхода" class="size-ico">
      <span>{{weatherData?.sys.sunrise*1000 | date:'HH:mm':timezoneOffset:'ru'}}</span>
    </div>
    <div id="sunset">
      <img src="assets/ico/parameters/sunset.svg" alt="Иконка заката" class="size-ico">
      <span>{{weatherData?.sys.sunset*1000 | date:'HH:mm':timezoneOffset:'ru'}}</span>
    </div>
  </div>
</div>