#current-weather {
  &-temp {
    font-size: 6.2em;
  }

  &-conditions-ico {
    position: relative;
    top: 1em;
  } 

  &-condition {
    display: block;
    position: relative;
    top: -0.5em;
    @media (max-width: 576px) {
      max-width: 186px;
    }
    max-width: 346px;
    font-size: 2em;
  }
}

#forecast-day {
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;

  .forecast-day-hours {
    display: inline-block;

    &-img {
      width: 4em;
    }
  }
}

#additional-block {
  font-size: 1.5em;

  .size-ico {
    height: 3em;
  } 

  #humidity {
    position: relative;
    left: 0.5em;

    img {
      left: 2.1em;
      height: 2em;
    }
  }

  #sunrise {
    position: relative;
    top: -0.5em;
  }

  #sunset {
    position: relative;
    top: -1em;
  }
}