<div class="clearfix">
  <span class="name float-left text-truncate" [class.ghost-name]="!location" [tooltip]="location?.name">
    {{location?.name}}
  </span>
  <button type="button" class="close" aria-label="Delete" (click)="close.emit(null)" *ngIf="enableClosing"
    tooltip="Удалить из списка">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="d-inline-flex flex-row mb-md-2 w-100" (click)="open.next(null)" style="cursor: pointer">
  <span class="temp" [class.ghost-temp]="!location">
    {{location?.main.temp | number:'1.0-0'}}<ng-container *ngIf="location?.main.temp">&deg;</ng-container>
  </span>
  <div>
    <ng-container *ngIf="location?.weather[0].icon; else ghostTemplate">
      <img src="assets/ico/weather-conditions/{{location?.weather[0].icon}}.svg" alt="Иконка погоды"
        class="conditions-ico d-block">
      <span class="condition text-truncate" [tooltip]="location?.weather[0].description">
        {{location?.weather[0].description}}
      </span>
    </ng-container>
    <ng-template #ghostTemplate>
      <div class="d-block ghost-icon"></div>
      <div class="ghost-description"></div>
    </ng-template>
  </div>
</div>