<h4 class="text-center">Центр уведомлений</h4>
<ng-container *ngIf="notification; else emptyTemplate">
  <div id="wrapper">
    <div *ngIf="pressureData" class="alert notification px-2" role="alert">
      {{pressureData[0].dt*1000 | date:'d MMMM':timezoneOffset:'ru'}}
      ожидается {{changePressure}} атмосферного давления до
      {{pressureData[0].main.pressure | weatherParams:'pressure'}} мм.рт.ст.
    </div>
    <div *ngIf="precipitationData[0]" class="alert notification px-2" role="alert">
      <ng-container *ngFor="let day of precipitationData">
        {{day.dt*1000 | date:'d MMMM':timezoneOffset:'ru'}}:
        {{day.weather[0].id | weatherParams: 'precipitation'}}. <br>
      </ng-container> 
    </div>
    <div *ngIf="tempData" class="alert notification px-2" role="alert">
      {{tempData[0].dt*1000 | date:'d MMMM':timezoneOffset:'ru'}}
      ожидается {{changeTemp}} температуры до
      {{tempData[0].main.temp | number:'1.0-0'}}&deg;
    </div>
    <div *ngIf="windData" class="alert notification px-2" role="alert">
      {{windData.dt*1000 | date:'d MMMM':timezoneOffset:'ru'}}
      штормовое предупреждение: порывы ветра до
      {{windData.wind.speed}} м/с
    </div>
  </div>
</ng-container>
<ng-template #emptyTemplate>
  <div id="empty-notification" class="d-flex flex-column align-items-center">
    <i id="empty-notification-ico" class="far fa-bell-slash mb-2"></i>
    <span class="text-dark">Уведомлений нет</span>
  </div>
</ng-template>
<button id="close-btn" type="button" class="close" aria-label="Close" (click)="onClose()">
  <span aria-hidden="true">&times;</span>
</button>