<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Weather App</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <div class="navbar-nav text-center">
                <a class="nav-item nav-link" routerLink="/locations" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Мои места</a>
            </div>
            <div id="input-location" class="input-group ml-auto">
                <input class="form-control" type="search" placeholder="Город"
                    aria-label="Search" [formControl]="nameLocation">
                <div class="input-group-append">
                    <button class="btn btn-info my-0" type="button" (click)="search(nameLocation.value)"
                        [disabled]="!nameLocation.value">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>
<main id="main-content" class="container-fluid">
    <router-outlet></router-outlet>
</main>
<footer></footer>