/* You can add global styles to this file, and also import other style files */
@import 'app-variables';

html {
  height: 100%;
}

body {
  height: 100%;
  color: var(--light);
  background: fixed
    linear-gradient(
      to bottom,
      rgba(134, 162, 218, 1) 0%,
      rgba(0, 137, 191, 1) 100%
    );
}

body.show-notification-center {
  padding-right: 15px;
  overflow-y: hidden;
}

.btn-custom {
  background-color: $lightblue;

  &:active:not(:disabled) {
    background-color: $deepblue;
  }
}
