#current-weather {
    #current-temp {
        font-size: 6.2em;
    }

    #weather-conditions-ico {
        position: relative;
        top: 1em;
    } 

    #weather-condition {
        position: relative;
        top: -0.5em;
        font-size: 2em;
    }
}

#forecast-day{
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;

    .forecast-day-hours {
        display: inline-block;

        .forecast-day-hours-img {
            width: 4em;
        }

    }
}

#additional-block{
    font-size: 1.5em;

    .size-ico {
        height: 3em;
    } 
    
    #humidity {
        position: relative;
        left: 0.5em;
        
        img {
            height: 2em;
            left: 2.1em;
        }
    }

    #sunrise {
        position: relative;
        top: -0.5em;
    }

    #sunset {
        position: relative;
        top: -1em;
    }
}